<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo" routerLink="/">
      <h1>Enzo Martinez</h1>
      <p>Portafolio</p>
    </div>
    <div class="footer-links">
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/projects">Proyectos</a></li>
        <li><a routerLink="/about">Sobre mi</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="https://www.facebook.com/EnzoMartinez01/?locale=es_LA" target="_blank"><i class="pi pi-facebook"></i></a></li>
        <li><a href="https://github.com/EnzoMartinez01" target="_blank"><i class="pi pi-github"></i></a></li>
        <li><a href="https://www.instagram.com/iamenzo_01/" target="_blank"><i class="pi pi-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/enzomartinez24/" target="_blank"><i class="pi pi-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2025 Todos los derechos reservados.</p>
  </div>
</footer>
