/* You can add global styles to this file, and also import other style files */

html, body {
  background: #08090d;
  color: #f7f7f7;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
